@model TravelExpertsData.ViewModel.BookingOrderModel
@{
    ViewData["Page"] = "Package";
}
<div class="page_return" onclick="location.href='/Vacation/Index'">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#0d6efd" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
    </svg>
</div>
<h1>Place Order</h1>
<form method="post" asp-action="Order">
    <div class="row mb-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="PackageId" hidden value="@ViewBag.Package.PackageId" />
        <input asp-for="BasePrice" hidden value="@ViewBag.Package.PkgBasePrice" />
        <input asp-for="AgencyCommission" hidden value="@ViewBag.Package.PkgAgencyCommission" />
        <input type="datetime" hidden asp-for="TripStart" value="@ViewBag.Package.PkgStartDate" />
        <input type="datetime" hidden asp-for="TripEnd" value="@ViewBag.Package.PkgEndDate" />
        <div class="col-md-6 form-control-lg">
            <label asp-for="TravelerCount" class="control-label"> Traveller Count</label>
            <input asp-for="TravelerCount" class="form-control" type="number" />
            <span asp-validation-for="TravelerCount" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-control-lg">
            <label asp-for="TripTypeId" class="control-label"> Trip Type</label>
            @if (ViewBag.TripTypeList != null) {
                <select class="form-select" asp-for="TripTypeId" asp-items="@ViewBag.TripTypeList"></select>
            }
            <span asp-validation-for="TripTypeId" class="text-danger"></span>
        </div> 
        <div class="col-md-6 form-control-lg">
            <label asp-for="Destination" class="control-label"></label>
            <input asp-for="Destination" class="form-control" value="@ViewBag.Package.PkgName" />
            <span asp-validation-for="Destination" class="text-danger"></span>
        </div>
        @* <div class="form-control-lg"> *@
        @*     <label asp-for="RegionId" class="control-label"></label> *@
        @*     @if (ViewBag.RegionList != null) *@
        @*     { *@
        @*         <select class="form-select" asp-for="RegionId" asp-items="@ViewBag.RegionList"></select> *@
        @*     } *@
        @*     <span asp-validation-for="RegionId" class="text-danger"></span> *@
        @* </div> *@
        @* <div class="form-control-lg"> *@
        @*     <label asp-for="ClassId" class="control-label"></label> *@
        @*     @if (ViewBag.ClassList != null) *@
        @*     { *@
        @*         <select class="form-select" asp-for="ClassId" asp-items="@ViewBag.ClassList"></select> *@
        @*     } *@
        @*     <span asp-validation-for="ClassId" class="text-danger"></span> *@
        @* </div> *@
        @* <div class="form-control-lg"> *@
        @*     <label asp-for="FeeId" class="control-label"></label> *@
        @*     @if (ViewBag.FeeList != null) *@
        @*     { *@
        @*         <select class="form-select" asp-for="FeeId" asp-items="@ViewBag.FeeList"></select> *@
        @*     } *@
        @*     <span asp-validation-for="FeeId" class="text-danger"></span> *@
        @* </div> *@

        <div class="col-md-6 form-control-lg">
            <label asp-for="ProductSupplierId" class="control-label"></label>
            @if (ViewBag.ProductSupplierList != null)
            {
                <select class="form-select" asp-for="ProductSupplierId" asp-items="@ViewBag.ProductSupplierList"></select>
            }
            <span asp-validation-for="ProductSupplierId" class="text-danger"></span>
        </div>
        <div class="col-md-12 form-control-lg">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" value="@ViewBag.Package.PkgDesc" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-control-lg">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>
